/* Header */
.lp-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.lp-nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.lp-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.lp-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2563eb;
}

.lp-publish-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.lp-publish-link-register {
  height: 100%;
  background-color: #0d9488;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-publish-link button {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 110px;
  text-align: center;
  background: none;
  border: none;
}

.lp-publish-link-login button {
  color: #111827;
}

.lp-publish-link-register button {
  color: white;
}
